{% extends 'base.html' %}

{% block content %}
<div class="center">
<h1>About Us</h1>
<img id="avarta" src="/media/profile_pics/avi.jpg">
<img id="avarta" src="/media/profile_pics/vy.jpg">
<h5 class="left-align">Lemon Log tells you what's new in tech, culture and science, why it matters, how it works and what you need. You can depend on Lemon Log for news, commentary, analysis, features, FAQs, advice, hands-on reviews, buying guides, amazing photography and fun and informative videos.</h5>
<h5 class="left-align">Our audience is part of the Lemon Log family, and the strength of our relationship with you is the ultimate test of our success. We encourage you to let us know when you find an error, spot a gap in our coverage, want more questions answered or have suggestions for how we can improve. We aims to be available wherever and whenever you need it. Below you'll find a variety of options to continue learning, watching and talking about technology.</h5>
</div>
{% endblock %}