{% extends 'base.html' %}

{% block content %}
<h1>About Us</h1>
<img src="https://d19d5sz0wkl0lu.cloudfront.net/dims4/default/dc3857b/2147483647/resize/800x%3E/quality/90/?url=https%3A%2F%2Fatd-brightspot.s3.amazonaws.com%2Ff7%2Fad%2F698d9b7e49e09413d1568924a30d%2Fadobestock-230749575.jpeg ">
<h5>Lemon Log tells you what's new in tech, culture and science, why it matters, how it works and what you need. Our global team works 24/7 to explore and explain the changing world around us. You can depend on CNET for news, commentary, analysis, features, FAQs, advice, hands-on reviews, buying guides, amazing photography and fun and informative videos.</h5>
<h5>Our audience is part of the Lemon Log family, and the strength of our relationship with you is the ultimate test of our success. We encourage you to let us know when you find an error, spot a gap in our coverage, want more questions answered or have suggestions for how we can improve. We aims to be available wherever and whenever you need it. Below you'll find a variety of options to continue learning, watching and talking about technology.</h6>
{% endblock %}