{% extends 'base.html' %}

{% block content %}
<div class="center">
    <h2>About Us</h2>
    <img class="avarta" src="/media/profile_pics/avi.jpg">
    <img class="avarta" src="/media/profile_pics/vy.jpg">
    <div class="about">
    <h5>Lemon Log is tech review site where experts post reviews of tech products to inform their users of what to buy and what to skip. Users can post comments on reviews to share feedback or their own experiences. If you're a fan of technology, you can depend on Lemon Log for news, commentary, analysis, features, FAQs, advice, hands-on reviews, buying guides, amazing photography and fun and informative videos.</h5>
    <h5>Our audience is part of the Lemon Log family, and the strength of our relationship with you is the ultimate test of our success. We encourage you to let us know when you find an error, spot a gap in our coverage, want more questions answered or have suggestions for how we can improve. We aims to be available wherever and whenever you need it. Below you'll find a variety of options to continue learning, watching and talking about technology.</h5>
    </div>
</div>
{% endblock %}


