{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lemon Log</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <header>
    <nav>
      <div class ="nav-wrapper">
        <ul class="left">
          <li><a href="/" class="logo"><img src="/static/lemonlog.png"</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'review_new' %}">Add New Review</a></li>
            <li><a href="{% url 'profile' %}">{{user.username}}'s Profile</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% if messages %}
      {%for message in messages %}
          {% if message.tags == 'success' %}
              <script>M.toast({html: "{{message}}", classes:'green rounded', displayLength:2000});</script>
          {% elif message.tags == 'info'%}
               <script>M.toast({html: "{{message}}", classes:'blue rounded', displayLength:2000});</script>
          {% elif message.tags == 'error'%}
               <script>M.toast({html: "{{message}}", classes:'red rounded', displayLength:2000});</script>
          {% endif %}
      {% endfor %}
    {% endif %}
  <div class="wide-header">
    <img src="https://cdn.shopify.com/s/files/1/1520/4366/files/satechi_2020_05_29_img4_desktop_rev1_cc81ff88-7d42-43d2-9143-a82267b8d64a.jpg?v=15956043" alt="">
  </div> 
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2021 Lemon Log &nbsp;</div>
  </footer>
</body>
</html>