{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lemon Log</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</head>
<body>
  <header>
    <nav class="navbar black">
      <div class ="nav-wrapper">
        <ul class="left">
          <li><a href="/" class="logo"><img src="/static/lemonlog.png"></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'review_new' %}">Add New Review</a></li>
            <li><a href="{% url 'profile' %}">{{user.username}}'s Profile</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <section class="slider">
      <ul class="slides">
        <li>
          <a href="/about" class="logo"><img src="media/review_pics/microsoft.jpg"></a>       
          <div class="caption center-align">
            <h2> Lemon Log </h2>
            <h5>The leading destination for tech enthusiasts of all skill levels</h5>
          </div>
        </li>
        <li>
          <a href="/about" class="logo"><img src="media/review_pics/watch.jpg"></a>        
          <div class="caption left-align">
            <h2>Lemon Log</h2>
            <h5>The leading destination for tech enthusiasts of all skill levels</h5>
          </div>
        </li>
        <li>
          <a href="/about" class="logo"><img src="media/review_pics/canon.jpg"></a>        
          <div class="caption right-align">
            <h2>Lemon Log</h2>
            <h5>The leading destination for tech enthusiasts of all skill levels</h5>
          </div>
        </li>
      </ul>      
    </section>
    {% if messages %}
      {%for message in messages %}
          {% if message.tags == 'success' %}
              <script>M.toast({html: "{{message}}", classes:'green rounded', displayLength:2000});</script>
          {% elif message.tags == 'info'%}
               <script>M.toast({html: "{{message}}", classes:'blue rounded', displayLength:2000});</script>
          {% elif message.tags == 'error'%}
               <script>M.toast({html: "{{message}}", classes:'red rounded', displayLength:2000});</script>
          {% endif %}
      {% endfor %}
    {% endif %} 
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <a href="/">Contact Us | </a>
    <a href="/">FAQ | </a>
    <a href="/">Reviews | </a>
    <a href="/">Blog | </a>
    <a href="/">Privacy Police | </a>
    <a href="/">Legal Stuff</a>
    <h5>Follow Us On Social Media</h5>
    <a href="/"><i class="fab fa-facebook fa-3x yellow-text darken-3"></i></a>
    <a href="/"><i class="fab fa-twitter fa-3x yellow-text darken-3"></i></a>
    <a href="/"><i class="fab fa-instagram fa-3x yellow-text darken-3"></i></a>
    <a href="/"><i class="fab fa-google fa-3x yellow-text darken-3"></i></a>
    <a href="/"><i class="fab fa-linkedin fa-3x yellow-text darken-3"></i></a>
    <p>Copyright&copy; 2021 Lemon Log. All Rights Reserved.</p>
  </footer>
  <script>
    const slider = document.querySelector(".slider");
    M.Slider.init(slider, {
      indicators: false,
      height: 600,
      transition: 500,
      interval: 5000
    })
  </script
</body>
</html>