{% extends 'base.html' %}
{% block content %}

<h1>Homepage</h1>
<div class="row">
  {% for review in reviews %}
    <a href="{% url 'review_detail' review.id %}">
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content white-text">
            <img src="{{ review.author.profile.profile_pic.url }}" alt="no img">
            <img id ="review_img" src="{{ review.review_image.url }}" alt="img">
            <span class="card-title">{{review.title}}</span>
            <p>Rating: {{review.rating}} </p>
            <p>{{ review.description }}</p>
            <p>By @{{review.author}}</p>
            <p>{{ review.author.email }}</p>
            </div>
            <div class="card-action">
              <a href="#">Read more</a>
            </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}