@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');

h2 {
  font-family: 'Abril Fatface', cursive;
  color: rgb(241, 213, 52);
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/e6/a0/ec/e6a0ec6f22a505603ff90fbea89031cd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}
main {
  flex: 1 0 auto;
}
.main-container {
  margin: 100px 200px 100px 200px;
}
label {
  text-transform: uppercase;
}
nav { 
  position: fixed;
  z-index: 9999;
}
nav ul li a {
  font-size: 20px;
  color: rgb(241, 213, 52);
}
.right {
  color: rgb(241, 213, 52);
}
.logo {
  width: 110px;
}
.logo img {
  width: 100%;
  height: 100%;
}
section .slider {
  width: 100%;
}
footer.page-footer {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  text-align: center;
}

/* .box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
  grid-auto-rows: auto;
  } */
  .box {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
  }
.row {
  padding-right: 30px;
}
#review {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
  }

.avarta {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 20px 20px 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main-container {
    margin: 100px 70px 100px 70px;
  }
}