body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/e6/a0/ec/e6a0ec6f22a505603ff90fbea89031cd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
}
main {
  flex: 1 0 auto;
}
label {
  text-transform: uppercase;
}
nav {
  position: fixed;
  z-index: 9999;
}
nav ul li a {
  font-size: 20px;
  color: rgb(241, 213, 52);
}
.right {
  color: rgb(241, 213, 52);
}
.logo {
  width: 100px;
}
footer.page-footer {
  background: rgba(0, 0, 0, 0.2);
}
img {
  width: 100%;
  height: 100%;
}
/* ---------Homepage----------- */
.box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
  grid-auto-rows: auto;
  }
.row {
  padding-right: 30px;
}

/* -------Profile page-------- */
.avarta {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.profile {
  margin-top: 100px;
}
/* ---------Review page--------- */
.row {
  margin-top: 100px;
}
