{% extends 'base.html' %}

{% block content %}
    <h1>Review page</h1>
    <div class="col s12 m6">
        <div class="card black">
            <div class="card-content white-text">
                <img src="{{ review.author.profile.profile_pic.url }}" alt="no img">
                <span class="card-title">{{review.title}}</span>
                <p>Rating: {{review.rating}} </p>
                <p>{{ review.description }}</p>
                <p>By @{{review.author}}</p>
            </div>
            <div class="card-action">
              <a href="#">Read more</a>
            </div>
        </div>
    </div>
    <!-- comments -->
    {% if user.is_authenticated %}
            <p>Comments</p>
            <ol>
                {% for comment in comments %}
                    <li>{{ comment.text }} - <span>{{ comment.author }}</span></li>
                {% endfor %}
            </ol>
         <form method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" class="btn" value="Add Comment">
        </form>
    {% endif %}
   

{% endblock content %}

