{% extends 'base.html' %}

{% block content %}
<div class="card grey darken-3">
    <div class="card-image">
        <img src="{{review.review_image.url}}">
        <div class="card-content">         
            <h4>{{review.title}}</h4>
            <p>Rating: {{review.rating}}</p>
            <p>Author: {{review.author}}</p>
            <p>Author email: {{ review.author.email }}</p><br>
            <p>{{review.description}}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'review_edit' review.id %}">Edit</a>
            <form method="POST" action="{% url 'review_delete' review.id %}">
                {% csrf_token %}
                <input type="submit" class="btn" value="Delete">
            </form>
        </div>
    </div>

    {% comment %} Comment to add {% endcomment %}
    <a class="btn yellow darken-2" href="{% url 'add_comment_to_review' review.id %}">comment</a>
    <div class="card">
        {% if user.is_authenticated %}
            <div class="card-content grey darken-3">
                {% if comments.count == 0 %}
                    <h4>No comments posted!</h4>
                {% else %}
                    <h3>{{ comments.count }} comments</h3>
                {% endif %}
                {% for comment in comments %}
                    <br>
                        <div class="card-action">
                            {{ comment.created_date }}
                            <p>{{ comment.text|safe|linebreaks }}</p>
                            <p>Posted by: <strong>@{{ comment.user }}</strong></p>
                            {% if user.id == comment.user_id or user.id == review.author_id%}
                                <a class="btn yellow darken-2" href="{% url 'comment_remove' review.id comment.id%}">Delete</a>
                                <a class="btn yellow darken-2" href="{% url 'comment_edit' review.id comment.id %}">Edit</a>
                            {% endif %} 
                        </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}

