{% extends 'base.html' %}

{% block content %}
<div class="card grey darken-3">
    <h2>{{review.title}}</h2>
    <div class="center">
        <img id="review-detail" src="{{review.review_image.url}}">
    </div>
    <div class="card-content"> 
        <img id="avarta" src="{{ review.author.profile.profile_pic.url }}">
        <p>Published Date:{{review.created_date|date:' d/m/Y'}}</p>
        <p>Author: {{review.author}}</p>
        <p>Rating: {{review.rating}}</p><br>
        <p>{{review.description}}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'review_edit' review.id %}">Edit</a>
        <a href="{% url 'review_delete' review.id %}">Delete</a><br>
        <br><a class="btn yellow darken-2" href="{% url 'add_comment_to_review' review.id %}"> Add comment</a>
    </div>
    <div class="card">
        {% if user.is_authenticated %}
            <div class="card-content grey darken-3">
                {% if comments.count == 0 %}
                    <h4>No comments posted!</h4>
                {% else %}
                    <h3>{{ comments.count }} comments</h3>
                {% endif %}
                {% for comment in comments %}
                    <br>
                        <div class="card-action">
                            {{ comment.created_date }}
                            <p>{{ comment.text|safe|linebreaks }}</p>
                            <p>Posted by: <strong>{{ comment.user }}</strong></p>
                            {% if user.id == comment.user_id or user.id == review.author_id%}
                                <a href="{% url 'comment_edit' review.id comment.id %}">Edit</a>
                                <a href="{% url 'comment_remove' review.id comment.id%}">Delete</a>
                            {% endif %} 
                        </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}

